*.havedHeader {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /*background-color: #eceeef*/
}

*.havedTitleBar {
  padding-bottom: 1rem;
}

*.title {
  text-shadow: 1px 1px #cbcccd;
  margin-bottom: 0;
  margin-top: 1rem;
}

*.smallJumbo {
  padding: 0.4rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

p.code {
  font-size: 15px;
  font-family: monospace, sans-serif;
  margin-bottom: 0;
}

span.code_keyword {
  font-weight: bold;
  color:  #388e3c;
  text-shadow: 2px 2px #cbcccd;
}

img.minSize {
  float:left;
  width:4em;
}

div.wideDarkBox {
  width: 90%;
  float: right;
  padding-top: 0.4rem;
  background-color: #004d40;
  color:#eeeeee;
  text-shadow: 1px 1px 1px #999999;
  box-shadow: inset 0px 0px 5px 0px #000000;
}

div.left89 {
  width: 89%;
  float: left;
}