*.havedHeader {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /*background-color: #eceeef*/
}

*.title {
  text-shadow: 1px 1px #cbcccd;
  margin-bottom: 0;
  margin-top: 1rem;
}

*.havedTitleBar {
  margin-bottom: 1rem;
}

*.smallJumbo {
  padding: 0.4rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}

p.code {
  font-size: 15px;
  font-family: monospace, sans-serif;
  margin-bottom: 0;
}

span.code_keyword {
  font-weight: bold;
  color:  #388e3c;
  text-shadow: 2px 2px #cbcccd;
}

span.code_literal {
  font-weight: bold;
  color:  #039be5;
  text-shadow: 1px 1px 3px #cbcccd;
}

img.minSize {
  float:left;
  width:4em;
}

div.wideDarkBox {
  padding: 0.4rem;
  padding-bottom: 0rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  background-color: #1e88e5;
  color:#eeeeee;
  text-shadow: 1px 1px 1px #999999;
  box-shadow: inset 1px 1px 3px #444444;
}

img.fullWidth {
  width:100%;
  height:auto;
}

*.imageText {
  font-size: 80%;
  width:100%;
  text-align: right;
  padding-bottom: 1rem;
}

*.imageText-left {
  font-size: 80%;
  width:100%;
  padding-bottom: 1rem;
}